@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
   --primary-color1: hsl(25, 97%, 53%);
   --neutral-color1: hsl(0, 0%, 100%);
   --neutral-color2: hsl(217, 12%, 63%);
   --neutral-color3: hsl(216, 12%, 54%);
   --neutral-color4: hsl(213, 19%, 18%);
   --neutral-color41: hsl(212, 14%, 25%);
   --neutral-color5: hsl(216, 12%, 8%);

   --principal-font: 'Overpass', sans-serif;
}

/* RESET */
* {
   margin: 0;
   padding: 0;
   font-family: var(--principal-font);
   box-sizing: border-box;
}
/* RESET */

body {
   width: 100vw;
   height: 100vh;
   background-color: var(--neutral-color5);
}

main {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
}

/* CONTAINER */
.container{
   background-color: var(--neutral-color4);
   border-radius: 25px;
   width: 370px;
   height: 370px;
}
/* CONTENT */
.content {
   padding: 25px;
   display: grid;
   grid-template-rows: 1fr 2fr 1fr 1fr;
   width: 100%;
   height: 100%;
}

/* DIVS */
.icon {
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;
}

.star {
   width: 40px;
   height: 40px;
   border-radius: 40px;
   background: var(--neutral-color41);
   display: flex;
   justify-content: center;
   align-items: center;
}

.star img {
   width: 14px;
   height: 14px;
}

.text {
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2;
}

.text h1, p {
   color: var(--neutral-color1);
}

.text h1 {
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 10px;
}

.text p {
   font-size: 0.9rem;
   font-weight: 400;
   margin-bottom: 20px;
   line-height: 1.7;
}

.selectOptions {
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 2;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   justify-items: center;
   align-items: center;
}

.button {
   width: 45px;
   height: 45px;
   border-radius: 45px;
   border: none;
   text-align: center;
   background-color: var(--neutral-color41);
   color: var(--neutral-color2);
   cursor: pointer;
}

.hover {
   background-color: var(--neutral-color3);
   color: var(--neutral-color1);
}

.active{
   background-color: var(--primary-color1);
   color: var(--neutral-color1);
}


.submitButton {
   grid-row-start: 4;
   grid-row-end: 5;
   grid-column-start: 1;
   grid-column-end: 2;
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   align-items: center;
}

.submit {
   width: 100%;
   height: 45px;
   border-radius: 45px;
   border: none;
   text-align: center;
   font-size: 0.9rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   background-color: var(--primary-color1);
   color: var(--neutral-color1);
   cursor: pointer;
}

.activeSubmit {
   background-color: var(--neutral-color1);
   color: var(--primary-color1);
}
/* DIVS */
